/* @font-face {
  font-family: Andruha-400;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
} */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accen-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

/*--------------- HEADER------------- */

.header {
  background-color: #756767;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-logo {
  margin-right: 130px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:is(:hover, :focus) {
  color: #ff6c00;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 43px;
}

.header-btn {
  color: var(--main-btn-color);
}

/*--------------- HERO------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-wrap {
  background-color: #756767;
  flex-grow: 1;
  padding: 272px 100px 208px;
}

.hero-list {
  width: 100px;
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.hero-post-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
  width: 400px;
}

/*--------------- ABOUT------------- */

.about {
}

.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
  width: calc(50% - 15px);
}

.about-wrap {
  padding-right: 100px;
}

.about-item {
  width: calc((100% - 30px) / 2);
}
.about-pic {
}

.about-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about-post-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: var(--second-btn-color);
}

/*--------------- PRICES------------- */

.prices {
  background-color: #303030;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 21px;
  width: calc((100% - 30px) / 2);
}

.prices-item {
  display: flex;
  justify-content: space-between;
}

.prices-item:not(:last-child) {
  margin-bottom: 20px;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--main-btn-color);
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

/*--------------- BENEFITS------------- */

.benefits {
}

.benefits-wrap {
  padding-right: 100px;
  padding-top: 9px;
}

.benefits-container {
  display: flex;
  gap: 130px;
  padding-left: 85px;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);

  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  border: 1px solid;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
  margin-top: 6px;
}
.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}
.benefits-post-title {
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #555555;
}

/*--------------- BARBERS------------- */

.barbers {
}

.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-wrap {
  padding-top: 30px;
}
.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #303030;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: #ff6c00;
}

/*--------------- GALLERY------------- */

.gallery {
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

.contact-wrap {
  background-color: #303030;
}

.contact-container {
  display: flex;
}

/*--------------- ONLINE------------- */

.online {
  width: calc(50% + 15px);
}
.online-title {
  color: var(--main-title-color);
}

/*--------------- CONTACTS------------- */
.contacts {
  background-color: #696666;
  padding-left: 100px;
  flex-grow: 1;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}
.contacts-address {
  margin-bottom: 70px;
}
.contacts-list {
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-item:first-child > .contacts-link {
  font-weight: 700;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}

/*--------------- FOOTER------------- */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #9da4bd;
}

.footer-container {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.footer-item {
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;
}
